footer.footer
  .wrapper.wrapper-footer
    .footer-content
      .footer-logo
        img(src='/src/assets/images/footer/logo.png' alt='')
      p.footer-text
        | Createx Online School is a leader in online studying. We have lots
        | of courses and programs from the main market experts. We provide
        | relevant approaches to online learning, internships and employment
        | in the largest companies in the country.
      .footer-socialmedia
        img(src='/src/assets/images/footer/Facebook.svg' alt='')
        img(src='/src/assets/images/footer/Twitter.svg' alt='')
        img(src='/src/assets/images/footer/youtube.svg' alt='')
        img(src='/src/assets/images/footer/telegram.svg' alt='')
        img(src='/src/assets/images/footer/Instagram.svg' alt='')
        img(src='/src/assets/images/footer/Linked-In.svg' alt='')
    ul.sitemap-list
      .sitemap-list__title SITE MAP
      li.sitemap-list__item About Us
      li.sitemap-list__item Courses
      li.sitemap-list__item Events
      li.sitemap-list__item Blog
      li.sitemap-list__item Contacts
    ul.courses-list
      .courses-list__title COURSES
      li.courses-list__item Marketing
      li.courses-list__item Management
      li.courses-list__item HR & Recruting
      li.courses-list__item Design
      li.courses-list__item Development
    .footer-contact
      .footer-contact__title CONTACT US
      a.footer-contact__tel(href='tel:(405) 555-0128') (405) 555-0128
      a.footer-contact__mail(href='hello@createx.com') hello@createx.com
    .footer-signup
      .footer-signup__title SIGN UP TO OUR NEWSLETTER
      .footer-signup__field
        input.signup(type='email' placeholder='Email address')
        a.signup-btn(href='#')
          img(src='/src/assets/images/footer/arrow.svg' alt='')
      .footer-signup__description
        | *Subscribe to our newsletter to receive communications and early
        | updates from Createx SEO Agency.
  .footer-line
    .wrapper-footer-line
      .footer-line__text
        | © All rights reserved. Made with 
        span by Createx Studio
      a.gotop-btn(href='#') GO TO TOP