footer.footer
      .wrapper.wrapper-footer
        .text
          .logo
            img(src='/src/assets/images/footer/logo.png' alt='')
          p
            | Createx Online School is a leader in online studying. We have lots
            | of courses and programs from the main market experts. We provide
            | relevant approaches to online learning, internships and employment
            | in the largest companies in the country.
          .socialmedia
            img(src='/src/assets/images/footer/Facebook.svg' alt='')
            img(src='/src/assets/images/footer/Twitter.svg' alt='')
            img(src='/src/assets/images/footer/youtube.svg' alt='')
            img(src='/src/assets/images/footer/telegram.svg' alt='')
            img(src='/src/assets/images/footer/Instagram.svg' alt='')
            img(src='/src/assets/images/footer/Linked-In.svg' alt='')
        ul.site-map
          .title SITE MAP
          li About Us
          li Courses
          li Events
          li Blog
          li Contacts
        ul.courses
          .title COURSES
          li Marketing
          li Management
          li HR & Recruting
          li Design
          li Development
        .contact
          .title CONTACT US
          a.tel(href='tel:(405) 555-0128') (405) 555-0128
          a.mail(href='hello@createx.com') hello@createx.com
        .signup
          .title SIGN UP TO OUR NEWSLETTER
          .field
            input.signup(type='email' placeholder='Email address')
            a.signup-btn(href='#')
              img(src='/src/assets/images/footer/arrow.svg' alt='')
          .description
            | *Subscribe to our newsletter to receive communications and early
            | updates from Createx SEO Agency.
      .footer-line
        .wrapper-footer-line
          .text
            | © All rights reserved. Made with 
            span by Createx Studio
          a.gotop-btn(href='#') GO TO TOP