header#_header.header
      .wrraper.wrapper-header
        .header-logo
          a.logo-link(href='')
            img(src='./assets/images/main/logo.png' alt='')
        nav.header-nav
          ul.nav
            li.nav-item
              a.item-link(href='') About Us
            li.nav-item
              a.item-link(href='') Courses
            li.nav-item
              a.item-link(href='') Events
            li.nav-item
              a.item-link(href='') Blog
            li.nav-item
              a.item-link(href='') Contacts
        .header-btn
          a.btn(href='') Get consultation
          a.login(href='') Log in / Register