header#_header.header
      .wrraper.header-wrapper
        .header-logo
          a.logo-link(href='/index.html')
            img(src='./assets/images/main/logo.png' alt='')
        .nav-icon 
          span
        nav.header-nav
          ul.menu
            li.menu-item
              a.item-link(href='') About Us
            li.menu-item
              a.item-link(href='/courses.html') Courses
            li.menu-item
              a.item-link(href='') Events
            li.menu-item
              a.item-link(href='') Blog
            li.menu-item
              a.item-link(href='') Contacts
          .header-btn
            a.btn(href='') Get consultation
            a.login(href='') Log in / Register