doctype html
html(lang='en')
  header
    include assets/pug/libs/_head
  body
    include assets/pug/libs/_header
    main
      include assets/pug/section/_tutors

      include assets/pug/section/_certificate

      include assets/pug/section/_subscribe

  footer 
    include assets/pug/libs/_footer