doctype html
html(lang='en')
  head
    include assets/pug/libs/_head
  body
    include assets/pug/libs/_header
    main
      include assets/pug/section/_main

      include assets/pug/section/_about

      include assets/pug/section/_courses

      include assets/pug/section/_benefits

      include assets/pug/section/_events

      include assets/pug/section/_certificate

      //include assets/pug/section/_tutors

      //include assets/pug/section/_testimonials

      include assets/pug/section/_blog

      include assets/pug/section/_subscribe
    
    include assets/pug/libs/_footer
      
      
      
      
      
      
    
