.allcourses {
  background-image: url(/src/assets/images/allcourses/background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 120px 0;
}
.allcourses-header {
  text-align: center;
}
.allcourses-tabs_nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 61px;
  .allcourses-tabs_select{
    display: none;
    }
}
.allcourses-tabs_nav_content {
  display: flex;
  justify-content: space-between;
}

.allcourses-tabs_btn {
  padding: 10px 20px !important;
  color: #9a9da5;
  border: 1px solid transparent;
  cursor: pointer;
}
.allcourses-tabs_search{
    position: relative;
}
.allcourses-tabs_search input {
  width: 315px;
  height: 44px;
  padding: 0 16px;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
}
.allcourses-tabs_search:after{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: 14px;
    background-image: (url(/src/assets/images/allcourses/Vector\ \(Stroke\).svg));
}
.allcourses-cards{
    display: grid;
    grid-template-columns: 390px 390px 390px;
    gap: 30px;
    justify-items: center;
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 20px;
    // grid-row: 70px auto 70px;
    // grid-template-areas:
    //   "a b b "
    //   "c c c "
    //   "d d d ";
    // align-items: center;
    //  justify-items: center;
}
.allcourses-cards-item{
    max-width: 100%;
    flex-direction: column;
    margin-bottom: 0;
}
.filter-hide{
    display: none;
}


@media (max-width: 1330px){
    .allcourses-cards{
        display: grid;
        grid-template-columns: 320px 320px 320px;
        gap: 30px;
    }
}
@media (max-width: 1160px){
    .allcourses-cards{
        grid-template-columns: 250px 250px 250px;
        .cards-item_title{
            font-size: 16px;
            line-height: 20px;
        }
        .cards-item_price{
            font-size: 12px;
            line-height: 16px;
        }
    }
    .allcourses-tabs_search input {
        width: 215px;
    }
}
@media (max-width: 1000px){
    .allcourses-tabs_nav {
        .allcourses-tabs_select{
          display: block;
          height: 44px;
          padding: 14px 40px;
          }
      }
    .allcourses-cards{
        grid-template-columns: 250px 250px;
    }
    .allcourses-tabs_nav_content{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 44px;
        left: 0;
        width: 206px;
        padding: 20px 0;
        background-color: #fff;
        border: 1px solid #ff3f3a;
        border-radius: 4px; 
        z-index: 10;
    }
    .allcourses-tabs_btn.tabs-btn{
        margin-bottom: 10px;
        min-width: 204px;
    }
    .active-filtr{
        display: flex;
    }
    .btn.allcourses-tabs_select.active-btn-filtr{
        background-color: #fff;
        color: #ff3f3a;
        border: 1px solid #ff3f3a;
    }
}
@media (max-width: 630px){
    .allcourses-tabs_nav{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
    }
    .allcourses-tabs_search input {
        width: 100%;
        margin-bottom: 20px;
    }
    .allcourses-tabs_nav .allcourses-tabs_select{
        margin: 0 auto;
        width: 215px;
    }
    .allcourses-tabs_nav_content{
        top: 107px;
        left: calc(50% - 108px);
        width: 215px;
        padding: 20px 0;
        background-color: #fff;
        border: 1px solid #ff3f3a;
        border-radius: 4px; 
    }

    
    .allcourses-cards{
        grid-template-columns: 250px;
    }
    
}
