.benefits {
    margin: 120px 0;
    .wrapper {
      .h3-like {
        text-align: center;
        margin-bottom: 8px;
      }
      .h2-like{
        text-align: center;
        margin-bottom: 60px;
      }
      .tabs-nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        .tabs-btn {
          width: 307px;
          padding: 10px 0;
          text-align: center;
          color: #9a9da5;
          position: relative;
          border: 1px solid transparent;
          cursor: pointer;
        }
        .tabs-btn.btn-active {
          color: #ff3f3a;
          border: 1px solid #ff3f3a;
          border-radius: 4px;
          filter: invert(40%) sepia(77%) saturate(2242%) hue-rotate(335deg)
            brightness(97%) contrast(110%);
        }
        .star::before {
          content: url(/src/assets/images/benefits/Star.svg);
          position: absolute;
          left: 65px;
        }
        .shape::before {
          content: url(/src/assets/images/benefits/shape.svg);
          position: absolute;
          left: 60px;
        }
        .layouts::before {
          content: url(/src/assets/images/benefits/Layouts.svg);
          position: absolute;
          left: 62px;
        }
        .chat::before {
          content: url(/src/assets/images/benefits/Star.svg);
          position: absolute;
          left: 90px;
        }
      }
      
      .tabs-content {
        .tabs-item {
          display: none;
          justify-content: space-between;
          .title {
            margin-top: 122px;
            margin-bottom: 24px;
            text-align: left;
            font-weight: 900;
            font-size: 32px;
            line-height: 42px;
          }
          p {
            width: 495px;
            padding-right: 20px;
            font-weight: normal;
            line-height: 26px;
          }
        }
        .tab-active{
          display: flex;
        }
        img{
          max-height: 440px;
        }
      }
      
    }
  }