.benefits {
  padding: 90px 0;
}
.benefits-tag {
  text-align: center;
  margin-bottom: 8px;
}
.benefits-title{
  text-align: center;
}
.tabs-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.benefits-tabs__btn {
  width: 307px;
  position: relative;
}
.star::before {
  content: url(/src/assets/images/benefits/Star.svg);
  margin-right: 10px;
}
.shape::before {
  content: url(/src/assets/images/benefits/shape.svg);
  margin-right: 10px;
}
.layouts::before {
  content: url(/src/assets/images/benefits/Layouts.svg);
  margin-right: 10px;
}
.chat::before {
  content: url(/src/assets/images/benefits/Chat.svg);
  margin-right: 10px;
}
.tabs-item {
  display: none;
  justify-content: space-between;
  &__title {
    margin-top: 122px;
    margin-bottom: 24px;
    text-align: left;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
  }
  &__text {
    width: 495px;
    padding-right: 20px;
  }
}
.tab-active {
  display: flex;
}
.tabs-item__img {
  max-height: 440px;
}

@media (max-width: 1160px) {
  .tabs-item__img {
    max-height: 400px;
  }
}
@media (max-width: 1080px) {
  .tabs-item__img {
    max-height: 300px;
  }

  .tabs-item__title {
    margin-top: 42px;
  }
}
@media (max-width: 960px){
  .tabs{
    display: flex;
  }
  .tabs-nav{
    flex-direction: column;
    margin-right: 50px;
  }
  .tabs-btn{
    max-width: 200px;
    margin-bottom: 80px;
  }
  .tabs-item {
    flex-direction: column;
    max-width: 300px;
  }
  .tabs-item__text{
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .tabs{
    display: block;
  }
  .tabs-nav{
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .tabs-btn{
    font-size: 14px;
    margin-bottom: 20px;
  }
  .tabs-item{
    max-width: 100%;
    &__title{
      margin-top: 0;
    }
    &__text{
      max-width: 100%;
    }
  }
  .tabs-item__img{
    max-width: 340px;
  }
}

@media (max-width: 600px) {
}
