.blog {
  padding: 120px 0 180px;
}
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 60px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  &-item {
    max-width: 390px;
    &_img {
      width: 100%;
      padding-bottom: 16px;
      position: relative;
    }
    &_time {
      display: flex;
      color: #787a80;
      font-size: 14px;
      line-height: 21px;
      padding-bottom: 8px;
    }
    &_title {
      margin-bottom: 8px;
      font-size: 20px;
      line-height: 30px;
    }
    &_text {
      margin-bottom: 16px;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #424551;
    }
  }
}
.podcast::before {
  content: url(/src/assets/images/blog/podcast.png);
  position: absolute;
  top: 12px;
  left: 12px;
}
.video::before {
  content: url(/src/assets/images/blog/video.png);
  position: absolute;
  top: 12px;
  left: 12px;
}
.article::before {
  content: url(/src/assets/images/blog/article.png);
  position: absolute;
  top: 12px;
  left: 12px;
}
.time-label {
  padding-right: 12px;
  border-right: 1px solid #787a80;
  font-weight: bold;
}
.time-date {
  padding-right: 12px;
  padding-left: 36px;
  border-right: 1px solid #787a80;
  position: relative;
}
.time-date::before {
  content: url(/src/assets/images/blog/calendar.svg);
  position: absolute;
  top: 4px;
  left: 12px;
}
.time-duration {
  padding-left: 36px;
  position: relative;
}
.time-duration::before {
  content: url(/src/assets/images/blog/Clock.svg);
  position: absolute;
  top: 4px;
  left: 12px;
}
.btn-link {
  position: relative;
}
.btn-link::after {
  content: url(/src/assets/images/blog/Right.svg);
  position: absolute;
  top: -4px;
  left: 47px;
}

@media (max-width: 1300px){
  .gallery{
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery-item{
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 550px){
  .blog-header{
    flex-direction: column;
    align-items: center;
  }
  .blog-header_content{
    margin-bottom: 30px;
  }
  .gallery{
    &-item{
      max-width: 290px;
      &_img img{
        width: 290px;
      }
    }
  }
}
