.courses-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: flex-end;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-item {
    display: flex;
    width: 600px;
    margin-bottom: 30px;
    border: 1px solid #e5e8ed;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgba(229, 229, 229, 1);
    &_content {
      padding: 32px;
    }
    &_label {
      display: inline;
      padding: 3px 8px;
      color: #fff;
      border-radius: 4px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
    }
    .marketing {
      background-color: #03cea4;
    }
    .managment {
      background-color: #5a87fc;
    }
    .hrrecruiting {
      background-color: #f3982f;
    }
    .design {
      background-color: #f03571;
    }
    &_title {
      padding: 20px 0;
    }
    &_price {
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #787a80;
      span {
        margin-right: 8px;
        padding-right: 8px;
        color: #ff4242;
        border-right: 1px solid #787a80;
        font-weight: bold;
      }
    }
  }
  &-item:hover {
    transform: translateY(3%);
    box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 1);
  }
}

@media (max-width: 1330px) {
  .cards {
    justify-content: center;
  }
  .cards-item {
    width: 500px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 1160px) {
  .cards-item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cards-item_price {
    font-size: 14px;
    line-height: 20px;
  }
  .courses-header {
    display: block;
    text-align: center;
  }
  .courses-title{
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .cards-item {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    margin-right: 0;
    margin-left: 0;
  }
}
