.directions {
  padding: 90px 0;
}
.directions-header {
  text-align: center;
}
.directions-content {
  display: grid;
  grid-template-columns: 390px 390px 390px;
  gap: 30px;
  justify-items: center;
}
.directions-item {
  border: 1px solid #e5e8ed;
  padding-bottom: 24px;
  border-radius: 4px;
  min-height: 385px;
  //max-width: 420px;
  &__img {
    object-fit: cover;
    margin-bottom: 24px;
  }
  &__img img {
    width: 100%;
  }
  &__text {
    margin: 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #787a80;
  }
  &__check {
    margin: 0 24px 24px 24px;
    position: relative;
  }
  &__check::after {
    content: url(/src/assets/images/Aboutus/Right.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: -4px;
    right: -35px;
  }
  &__check:hover{
      color: #FF3F3A;
  }
}
.directions-item.new {
  background-color: #f4f5f7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.directions-item__newtext {
  font-size: 20px;
  line-height: 30px;
  color: #424551;
}
.directions-item:hover {
  transform: translateY(3%);
  box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 1);
}
.label {
  margin: 24px;
}
@media (max-width: 1345px){
    .directions-content {
        display: grid;
        grid-template-columns: 290px 290px 290px;
        gap: 30px;
        justify-content: center;
      }
    .directions-item.new{
        text-align: center;
    }
}
@media (max-width: 980px){
    .directions-content {
        grid-template-columns: 290px 290px;
      }
}
@media (max-width: 680px){
    .directions-content {
        grid-template-columns: 290px;
      }
}