.events {
    padding: 80px 0;
    background: url(/src/assets/images/events/bg-color.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper {
      .h3-like {
        text-align: center;
        padding-bottom: 8px;
      }
      .h2-like {
        text-align: center;
        margin-bottom: 60px;
      }
      .list {
        margin-bottom: 60px;
        &-item {
          display: flex;
          margin-bottom: 24px;
          padding: 32px 40px;
          background-color: #fff;
          position: relative;
          .day {
            margin-right: 20px;
            font-weight: 900;
            font-size: 48px;
            line-height: 62px;
            letter-spacing: 1px;
            color: #ff3f3a;
          }
          .date {
            margin-right: 40px;
            .month {
              padding-bottom: 4px;
              font-weight: bold;
              font-size: 20px;
              line-height: 30px;
            }
            .time {
              font-weight: normal;
              color: #787a80;
            }
          }
          .text {
            margin-right: 30px;
            &-title {
              padding-bottom: 4px;
              font-size: 20px;
              line-height: 30px;
            }
            .subtitle {
              font-weight: normal;
              text-align: left;
              color: #787a80;
            }
          }
          .btn-clear {
            position: absolute;
            right: 40px;
          }
        }
        &-item:hover {
          transform: translateY(2%);
          box-shadow: 0 20px 20px 0 rgba(247, 168, 161, 0.6);
        }
      }
      .explore {
        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
          margin-right: 40px;
          font-size: 28px;
          line-height: 42px;
        }
      }
    }
  }