.subscribe {
    padding: 120px 0 180px;
    background-image: url(/src/assets/images/subscribe/background.jpg);
    text-align: center;
    .wrapper {
      .h3-like {
        margin-bottom: 8px;
      }
      .h2-like {
        margin-bottom: 60px;
      }
      .field {
        .field-subscribe {
          padding: 13px 16px;
          width: 422px;
          height: 52px;
          margin-right: 24px;
          border: 1px solid #d7dadd;
          border-radius: 4px;
        }
        .subs {
          width: 154px;
        }
      }
    }
  }