.subscribe {
  padding: 120px 0 180px;
  background-image: url(/src/assets/images/subscribe/background.jpg);
  background-size: cover;
  text-align: center;
}
.field-subscribe {
  padding: 13px 16px;
  width: 422px;
  height: 52px;
  margin-right: 24px;
  border: 1px solid #d7dadd;
  border-radius: 4px;
}
.subs {
  width: 154px;
}

@media (max-width: 752px) {
  .field-subscribe {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
}
