.testimonials {
  padding: 90px 0;
  background: url(/src/assets/images/tutors/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials-wrapper {
  position: relative;
  cursor: pointer;
}
.subtitle-two {
  text-align: center;
  margin-bottom: 8px;
}
.title-two {
  margin-bottom: 60px;
  text-align: center;
}
.testimonials-slider {
  margin: 0 105px 0px;
  overflow: hidden;
}

.testimonials-slider__slide {
  padding: 64px 105px 64px 163px;
  max-width: 1020px;
  background-color: #fff;
}
.testimonials-slider__slide-text {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: relative;
}
.testimonials-slider__slide-text::before {
  content: url(/src/assets/images/tutors/braces.svg);
  position: absolute;
  left: -58px;
  top: -3px;
}
.user-profile {
  display: flex;
  img {
    margin-right: 20px;
  }
  .discrp {
    margin: 11px 0;
    .name {
      margin-bottom: 4px;
    }
    .position {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
.testimonials-btn__prev.swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  left: 60px;
  bottom: 150px;
}
.testimonials-btn__prev.swiper-button-prev:after {
  content: url(/src/assets/images/tutors/prev-btn.svg);
  position: absolute;
  top: 7px;
  left: 8px;
}
.testimonials-btn__prev.swiper-button-prev:hover {
  border-radius: 50%;
  background-color: #ff3f3a;
}
.testimonials-btn__next.swiper-button-next {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  right: 60px;
  bottom: 150px;
}
.testimonials-btn__next.swiper-button-next:after {
  content: url(/src/assets/images/tutors/next-btn.svg);
  position: absolute;
  top: 7px;
  left: 8px;
}
.testimonials-btn__next.swiper-button-next:hover {
  border-radius: 50%;
  background-color: #ff3f3a;
}
.testimonials-pagination.swiper-pagination {
  bottom: -40px !important;
  .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    margin-right: 12px !important;
    margin-left: 0 !important;
    border-radius: 2px;
    background-color: #b3b7bc;
  }
}

@media (max-width: 1180px) {
  .testimonials-slider__slide-text {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 980px) {
  .testimonials-slider__slide {
    padding: 44px 85px 44px 143px;
  }
}

@media (max-width: 780px){
  .testimonials-slider {
    margin: 0 0px 0px;
  }
  .testimonials-slider__slide {
    padding: 25px 25px 25px 75px;
  }
  .testimonials-slider__slide-text::before {
    left: -40px;
    top: -3px;
  }
}

@media (max-width: 480px){
  .testimonials-slider__slide {
    padding: 25px 25px 25px 25px;
    text-align: center;
  }
  .testimonials-slider__slide-text {
    font-size: 16px;
    line-height: 24px;
  }
  .user-profile{
    flex-direction: column;
    align-items: center;
    img{
      max-width: 100px;
    }
  }
  .testimonials-slider__slide-text::before{
    display: none;
  }
}
