.tutors {
  padding: 166px 0 100px;
  background: url(/src/assets/images/tutors/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tutors-wrapper {
  position: relative;
}
.tutors-title {
  text-align: left;
}
.tutors-slider {
  cursor: pointer;
}
.swiper-container {
  width: 1230px;
  height: 416px;
  overflow: hidden;
}
.tutors-slider_wrapper {
}
.tutors-slider_slide {
}
.tutors-slider-image {
  margin-bottom: 16px;
}
.tutors-slider-image img {
  width: 100%;
  height: 100%;
}
.slide-title {
  text-align: center;
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 30px;
}
.slide-subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #787A80;
}
.swiper-button-prev {
}
.tutors-btn_prev.swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  top: 80px;
  right: 120px;
  cursor: pointer;
}
.tutors-btn_next.swiper-button-next {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  top: 80px;
  right: 60px;
  cursor: pointer;
}
.tutors-btn_prev.swiper-button-prev:hover {
  background-color: #ff3f3a;
  border-radius: 50%;
}
.tutors-btn_next.swiper-button-next:hover {
  background-color: #ff3f3a;
  border-radius: 50%;
}
.tutors-btn_next.swiper-button-next:after {
  content: url(/src/assets/images/tutors/next-btn.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7px;
  left: 8px;
}
.swiper-button-prev.swiper-button-prev:after {
  content: url(/src/assets/images/tutors/prev-btn.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7px;
  left: 8px;
}
.tutors-btn_next.swiper-button-next:after:hover {
  color: #fff;
}
