.tutors {
  padding: 166px 0 100px;
  background: url(/src/assets/images/tutors/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tutors-title {
  text-align: left;
}
.slider {
  width: 1230px;
  height: 416px;
  position: relative;
  overflow: hidden;
}
.slider-line {
  width: 1890px;
  height: 416px;
  display: flex;
  position: absolute;
  left: 0;
  transition: all ease 1s;
}
.slider-item {
  width: 285px;
  text-align: center;
  margin-right: 30px;
  img {
    padding-bottom: 16px;
    width: 100%;
  }
  .item-title {
    font-size: 20px;
    line-height: 30px;
  }
  .item-subtitle {
    font-weight: normal;
    color: #787a80;
  }
}
.slider-btn {
  display: flex;
  justify-content:flex-end;
  padding-bottom: 20px;
}
.slider-prev {
  content: url("/src/assets/images/tutors/prev-btn.svg");
  margin-right: 24px;
  transition: 0.5s;
}
.slider-prev:hover {
  cursor: pointer;
  background-color: #ff3f3a;
  border-radius: 50%;
}
.slider-next {
  content: url(/src/assets/images/tutors/next-btn.svg);
  transition: 0.5s;
}
.slider-next:hover {
  cursor: pointer;
  background-color: #ff3f3a;
  border-radius: 50%;
}

@media (max-width: 1300px) {
  .slider {
    width: 915px;
    height: 416px;
    position: relative;
    overflow: hidden;
    
  }
}
@media (max-width: 990px) {
  .slider {
    width: 585px;
    height: 416px;
    position: relative;
    overflow: hidden;
  }
}
@media (max-width: 670px) {
  .slider {
    width: 285px;
    height: 416px;
    position: relative;
    overflow: hidden;
    
  }
}