.values{
    padding: 90px 0;
}
.values-header {
  text-align: center;
}
.values-content {
  display: flex;
  justify-content: space-between;
}
.values-item {
    text-align: center;
    max-width: 330px;
    padding: 0 45px;
    border-left: 1px solid #E8E8E9;
  &__title {
    font-size: 20px;
    line-height: 30px;
    margin-top: 24px;
  }
  &__text{
    font-weight: normal;
    line-height: 26px;
    color: #787A80; 
  }
}
.values-item:first-child{
    padding-left: 0;
    border-left: 0;
}
.values-item:last-child{
    padding-right: 0;
}
@media (max-width: 980px){
    .values-content{
        flex-wrap: wrap;
        align-items: center;
    }
    .values-item{
        margin-bottom: 45px;
        padding-left: 0;
        padding-right: 0;
        border-left: 0;
    }
}
@media (max-width: 760px){
    .values-content{
        justify-content: center;
    }
}
