.footer {
  padding: 80px 0 0px;
  background-color: #1e212c;
  color: #7d7f85;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  &-content {
    padding-right: 80px;
    padding-bottom: 50px;
  }
  &-logo {
    margin-bottom: 24px;
  }
  &-text {
    margin-bottom: 38px;
    width: 279px;
    font-size: 12px;
    line-height: 18px;
  }
  &-socialmedia {
    display: flex;
    justify-content: space-between;
    img:hover {
      cursor: pointer;
      filter: invert(35%) sepia(97%) saturate(2412%) hue-rotate(340deg)
        brightness(102%) contrast(97%);
    }
  }
}
.wrapper-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px !important;
}

.sitemap-list {
  margin-right: 50px;
  padding-bottom: 50px;
  &__title {
    color: #fff;
    margin-bottom: 12px;
  }
  &__item {
    margin-bottom: 8px;
  }
  &__item:hover {
    cursor: pointer;
    color: #fff;
  }
}
.courses-list {
  margin-right: 50px;
  padding-bottom: 50px;
  &__title {
    color: #fff;
    margin-bottom: 12px;
  }
  &__item {
    margin-bottom: 8px;
  }
  &__item:hover {
    cursor: pointer;
    color: #fff;
  }
}
.footer-contact {
  margin-right: 50px;
  padding-bottom: 50px;
  a {
    display: block;
    margin-bottom: 8px;
  }
  &__title {
    color: #fff;
    margin-bottom: 12px;
  }
  &__tel {
    padding-left: 24px;
    position: relative;
  }
  &__tel::before {
    content: url(/src/assets/images/footer/iPhone.svg);
    position: absolute;
    top: 3px;
    left: 2px;
    filter: invert(56%) sepia(21%) saturate(27%) hue-rotate(190deg)
      brightness(89%) contrast(91%);
  }
  &__tel:hover {
    filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(193deg)
      brightness(108%) contrast(200%);
  }
  &__mail {
    padding-left: 24px;
    position: relative;
  }
  &__mail::before {
    content: url(/src/assets/images/footer/Union.svg);
    position: absolute;
    top: 3px;
    left: 2px;
    filter: invert(56%) sepia(21%) saturate(27%) hue-rotate(190deg)
      brightness(89%) contrast(91%);
  }
  &__mail:hover {
    filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(193deg)
      brightness(108%) contrast(200%);
  }
}
.footer-signup {
  width: 286px;
  &__title {
    color: #fff;
    margin-bottom: 24px;
  }
  &__field {
    margin-bottom: 12px;
    position: relative;
    input {
      padding: 0 24px 0 12px;
      width: 286px;
      height: 36px;
      background-color: #4d4f58;
      border: 1px solid #8d8e94;
      border-radius: 4px;
      color: #ededee;
    }
    a {
      position: absolute;
      right: 10px;
      top: 3px;
      cursor: pointer;
    }
  }
  &__description {
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
  }
}
.footer-line {
  padding: 20px 0px;
  background-color: #343741;
  &__text {
    span {
      padding-left: 20px;
      position: relative;
    }
    span:before {
      content: url(/src/assets/images/footer/Heart.svg);
      position: absolute;
      left: 0;
    }
  }
}
.wrapper-footer-line {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.gotop-btn:hover {
  color: #fff;
}
 @media (max-width: 1295px){
  .wrapper-footer{
    flex-wrap: wrap;
    justify-content: center;
  }
 }

 @media (max-width: 500px){
  .footer-content{
    padding-right: 0;
  }
  .wrapper-footer-line{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-line__text{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
  }
  .gotop-btn{
    font-size: 16px;
    line-height: 20px;
  }
 }
