@import "./header";

@import "./sections/main";

@import "./sections/about";

@import "./sections/courses";

@import "./sections/benefits";

@import "./sections/events";

@import "./sections/certificate";

@import "./sections/tutors";

@import "./sections/blog";

@import "./sections/subscribe";

@import "./footer";


