@import "./normalize.scss";
@import "./reset";
@import "./homepage";
@import "./courses";
@import "./about";

// Font
$mainFont: "Lato", sans-serif;
@font-face {
  font-family: "lato-black";
  font-display: swap;
  src: url("/src/assets/fonts/Lato-Black.eot");
  src: local("O"), url("/src/assets/fonts/Lato-Black.woff") format("woff"),
    url("/src/assets/fonts/Lato-Black.ttf") format("truetype"),
    //url("/src/assets/fonts/Lato-Black.svg") format("svg");
    font-weight 900;
  font-style: normal;
}
@font-face {
  font-family: "lato-bold";
  font-display: swap;
  src: url("/src/assets/fonts/Lato-Bold.eot");
  src: local("O"), url("/src/assets/fonts/Lato-Bold.woff") format("woff"),
    url("/src/assets/fonts/Lato-Bold.ttf") format("truetype"),
    //url("/src/assets/fonts/Lato-Bold.svg") format("svg");
    font-weight 700;
  font-style: normal;
}
@font-face {
  font-family: "lato-regular";
  font-display: swap;
  src: url("/src/assets/fonts/Lato-Regular.eot");
  src: local("O"), url("/src/assets/fonts/Lato-Regular.woff") format("woff"),
    url("/src/assets/fonts/Lato-Regular.ttf") format("truetype"),
    //url("/src/assets/fonts/Lato-BRegular.svg") format("svg");
    font-weight 400;
  font-style: normal;
}
html {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #424551;
  cursor: default;
}
h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 83px;
  letter-spacing: 1px;
  color: #1e212c;
}
h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 60px;
  color: #1e212c;
}
h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  color: #1e212c;
}
h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  color: #1e212c;
}
.tag {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}
.btn {
  display: inline-block;
  text-align: center;
  width: 206px;
  height: 52px;
  padding: 16px 40px;
  background-color: #f9590f;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 10px 30px 0 rgba(229, 229, 229, 0.7);
  transition: 0.5s;
  cursor: pointer;
}
.btn:active {
  color: #f9590f;
  box-shadow: none;
}
.btn-clear {
  display: inline-block;
  text-align: center;
  width: 206px;
  height: 52px;
  padding: 16px 40px;
  border: 1px solid #f9590f;
  border-radius: 4px;
  color: #f9590f;
  box-shadow: 0 10px 30px 0 rgba(229, 229, 229, 0.7);
  transition: 0.5s;
}
.btn-clear:active {
  color: #fff;
  box-shadow: none;
}
.tabs-btn {
  padding: 10px 0;
  text-align: center;
  color: #9a9da5;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 24px;

}
.tabs-btn.btn-active {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  filter: invert(40%) sepia(77%) saturate(2242%) hue-rotate(335deg)
    brightness(97%) contrast(110%);
}
.container {
  max-width: 1230px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 50px;
}
.section-header {
  margin-bottom: 60px;
}
.content-text {
  font-weight: normal;
  line-height: 26px;
}
@keyframes left{
  0%{
      transform: translateX(-1000px);
  }
}
@keyframes right{
  0%{
      transform: translateX(1000px);
  }
}
@keyframes bottom{
  0%{
      transform: translateY(200px);
  }
}

@media (max-width: 1180px) {
  h1 {
    font-size: 54px;
    line-height: 73px;
  }
  h2 {
    font-size: 36px;
    line-height: 50px;
  }
  .tag {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1080px) {
  h1 {
    font-size: 34px;
    line-height: 53px;
  }
  h2 {
    font-size: 36px;
    line-height: 50px;
  }
  h3{
    font-size: 28px;
    line-height: 38px;
  }
  .tag {
    font-size: 16px;
    line-height: 24px;
  }
  .section-header {
    margin-bottom: 30px;
  }
  .content-text {
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
  }
}
@media (max-width: 830px){
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
}