section.about
        .wrapper.wrapper-about
          .image
            img(src='./assets/images/About/about-ing.jpg' alt='')
          .content
            h3.h3-like Who we are
            h2.h2-like Why Createx?
            ul.list
              li
                | A fermentum in morbi pretium aliquam adipiscing donec tempus.
              li Vulputate placerat amet pulvinar lorem nisl.
              li
                | Consequat feugiat habitant gravida quisque elit bibendum id
                | adipiscing sed.
              li Etiam duis lobortis in fames ultrices commodo nibh.
              li Tincidunt sagittis neque sem ac eget.
              li
                | Ultricies amet justo et eget quisque purus vulputate dapibus
                | tortor.
            a.btn(href='') More about us