section.aboutus
  .wrapper.wrapper-aboutus 
    .aboutus-content
        .section-header.aboutus-header
            .tag About us
            h2.h2-like Createx Online School
        .aboutus-content 
            p.sub-content-text 
                | Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts.
            p.content-text
                | We provide relevant approaches to online learning, internships and employment in the largest companies in the country. Our educational programs help you get a new specialty from scratch. During your studies, we will help you find a job. Check the courses and online events that we organise.
        .aboutus-content_btn
            a.btn-clear(href='#') Explore events
            a.btn(href='#') Browse courses
    .aboutus-image
      img(src='/src/assets/images/Aboutus/illustration.jpg' alt='')