section.allcourses
    .wrapper
        .section-header.allcourses-header
            .tag Enjoy your studying!
            h2.h2-like Our online courses
        .allcourses-tabs
            .allcourses-tabs__nav
                .btn.allcourses-tabs__select Select Filter    
                ul.allcourses-tabs__nav__content
                    li.allcourses-tabs__btn.tabs-btn(data-f='all') All
                    li.allcourses-tabs__btn.tabs-btn(data-f='Market') Marketing
                    li.allcourses-tabs__btn.tabs-btn(data-f='Manag') Management
                    li.allcourses-tabs__btn.tabs-btn(data-f='HR') HR & Recruting
                    li.allcourses-tabs__btn.tabs-btn(data-f='Des') Design
                    li.allcourses-tabs__btn.tabs-btn(data-f='Dev') Development
                a.allcourses-tabs__search(href='#') 
                    input#allcourses-search(type='search', placeholder='Search course...')
            .allcourses-tabs__content   
                .allcourses-cards.cards
                    .allcourses-cards-item.cards-item.Market
                        img(src='/src/assets/images/allcourses/JeromeBell.jpg' alt='').cards-item-img
                        .cards-item__content
                            .cards-item__label.marketing Marketing
                            h4.cards-item__title The Ultimate Google Ads Training Course
                            .cards-item__price
                                span $100
                                | by Jerome Bell
                    .allcourses-cards-item.cards-item.Manag
                        img(src='/src/assets/images/allcourses/Marvin.jpg' alt='').cards-item-img
                        .cards-item__content
                            .cards-item__label.managment Management
                            h4.cards-item__title Product Management Fundamentals
                            .cards-item__price
                                span $480
                                | by Marvin McKinney
                    .allcourses-cards-item.cards-item.HR
                        img(src='/src/assets/images/allcourses/Leslie.jpg' alt='').cards-item-img
                        .cards-item__content
                            .cards-item__label.hrrecruiting HR & Recruting
                            h4.cards-item__title HR Management and Analytics
                            .cards-item__price
                                span $200
                                | by Leslie Alexander Li
                    .allcourses-cards-item.cards-item.Market
                        img(src='/src/assets/images/allcourses/Kristin.jpg' alt='').cards-item-img
                        .cards-item__content
                            .cards-item__label.marketing Marketing
                            h4.cards-item__title Brand Management & PR Communications
                            .cards-item__price
                                span $530
                                | by Kristin Watson
                    .allcourses-cards-item.cards-item.Des
                        img(src='/src/assets/images/allcourses/Guy.jpg' alt='').cards-item-img
                        .cards-item__content
                            .cards-item__label.design Design
                            h4.cards-item__title Graphic Design Basic
                            .cards-item__price
                                span $500
                                | by Guy Hawkins
                    .allcourses-cards-item.cards-item.Manag
                        img(src='/src/assets/images/allcourses/Dianne.jpg' alt='').cards-item-img
                        .cards-item__content
                            .cards-item__label.managment Management
                            h4.cards-item__title Business Development Management
                            .cards-item__price
                                span $400
                                | by Dianne Russell
                    .allcourses-cards-item.cards-item.Dev
                        img(src='/src/assets/images/allcourses/Brooklyn.jpg' alt='').cards-item-img
                        .cards-item__content
                            .cards-item__label.development Development
                            h4.cards-item__title Highload Software Architecture
                            .cards-item__price
                                span $600
                                | by Brooklyn Simmons
                    .allcourses-cards-item.cards-item.HR
                        img(src='/src/assets/images/allcourses/Kathryn.jpg' alt='').cards-item-img
                        .cards-item__content
                            .cards-item__label.hrrecruiting HR & Recruting
                            h4.cards-item__title Human Resources – Selection and Recruitment
                            .cards-item__price
                                span $150
                                | by Kathryn Murphy
                    .allcourses-cards-item.cards-item.Des
                        img(src='/src/assets/images/allcourses/Cody.jpg' alt='').cards-item-img
                        .cards-item__content
                            .cards-item__label.design Design
                            h4.cards-item__title User Experience. Human-centered Design
                            .cards-item__price
                                span $240
                                | by Cody Fisher