section.allcourses
    .wrapper
        .section-header.allcourses-header
            .tag Enjoy your studying!
            h2.h2-like Our online courses
        .allcourses-tabs
            .allcourses-tabs_nav
                .btn.allcourses-tabs_select Select Filter    
                ul.allcourses-tabs_nav_content
                    li.allcourses-tabs_btn.tabs-btn(data-f='all') All
                    li.allcourses-tabs_btn.tabs-btn(data-f='Market') Marketing
                    li.allcourses-tabs_btn.tabs-btn(data-f='Manag') Management
                    li.allcourses-tabs_btn.tabs-btn(data-f='HR') HR & Recruting
                    li.allcourses-tabs_btn.tabs-btn(data-f='Des') Design
                    li.allcourses-tabs_btn.tabs-btn(data-f='Dev') Development
                .allcourses-tabs_search 
                    input#allcourses-search(type='search', placeholder='Search course...')
            .allcourses-tabs_content   
                .allcourses-cards.cards
                    .allcourses-cards-item.cards-item.Market
                        img(src='/src/assets/images/allcourses/JeromeBell.jpg' alt='').cards-item-img
                        .cards-item_content
                            .cards-item_label.marketing Marketing
                            h4.cards-item_title The Ultimate Google Ads Training Course
                            .cards-item_price
                                span $100
                                | by Jerome Bell
                    .allcourses-cards-item.cards-item.Manag
                        img(src='/src/assets/images/allcourses/Marvin.jpg' alt='').cards-item-img
                        .cards-item_content
                            .cards-item_label.managment Management
                            h4.cards-item_title Product Management Fundamentals
                            .cards-item_price
                                span $480
                                | by Marvin McKinney
                    .allcourses-cards-item.cards-item.HR
                        img(src='/src/assets/images/allcourses/Leslie.jpg' alt='').cards-item-img
                        .cards-item_content
                            .cards-item_label.hrrecruiting HR & Recruting
                            h4.cards-item_title HR Management and Analytics
                            .cards-item_price
                                span $200
                                | by Leslie Alexander Li
                    .allcourses-cards-item.cards-item.Market
                        img(src='/src/assets/images/allcourses/Kristin.jpg' alt='').cards-item-img
                        .cards-item_content
                            .cards-item_label.marketing Marketing
                            h4.cards-item_title Brand Management & PR Communications
                            .cards-item_price
                                span $530
                                | by Kristin Watson
                    .allcourses-cards-item.cards-item.Des
                        img(src='/src/assets/images/allcourses/Guy.jpg' alt='').cards-item-img
                        .cards-item_content
                            .cards-item_label.design Design
                            h4.cards-item_title Graphic Design Basic
                            .cards-item_price
                                span $500
                                | by Guy Hawkins
                    .allcourses-cards-item.cards-item.Manag
                        img(src='/src/assets/images/allcourses/Dianne.jpg' alt='').cards-item-img
                        .cards-item_content
                            .cards-item_label.managment Management
                            h4.cards-item_title Business Development Management
                            .cards-item_price
                                span $400
                                | by Dianne Russell
                    .allcourses-cards-item.cards-item.Dev
                        img(src='/src/assets/images/allcourses/Brooklyn.jpg' alt='').cards-item-img
                        .cards-item_content
                            .cards-item_label.development Development
                            h4.cards-item_title Highload Software Architecture
                            .cards-item_price
                                span $600
                                | by Brooklyn Simmons
                    .allcourses-cards-item.cards-item.HR
                        img(src='/src/assets/images/allcourses/Kathryn.jpg' alt='').cards-item-img
                        .cards-item_content
                            .cards-item_label.hrrecruiting HR & Recruting
                            h4.cards-item_title Human Resources – Selection and Recruitment
                            .cards-item_price
                                span $150
                                | by Kathryn Murphy
                    .allcourses-cards-item.cards-item.Des
                        img(src='/src/assets/images/allcourses/Cody.jpg' alt='').cards-item-img
                        .cards-item_content
                            .cards-item_label.design Design
                            h4.cards-item_title User Experience. Human-centered Design
                            .cards-item_price
                                span $240
                                | by Cody Fisher