section.benefits
  .wrapper
    .section-header
      .tag.benefits-tag Our benefits
      h2.h2-like.benefits-title That’s how we do it
    .tabs
      .tabs-nav
        .benefits-tabs__btn.tabs-btn.star(data-tab='#tab-1') Experienced Tutors
        .benefits-tabs__btn.tabs-btn.shape(data-tab='#tab-2') Feedback & Support
        .benefits-tabs__btn.tabs-btn.layouts(data-tab='#tab-3') 24/7 Online Library
        .benefits-tabs__btn.tabs-btn.chat(data-tab='#tab-4') Community
      .tabs-content
        #tab-1.tabs-item
          .tabs-item__content
            h3.tabs-item__title Only practicing tutors
            p.content-text.tabs-item__text
              | Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames
              | dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis
              | mollis augue. Nunc, sodales tortor sit diam mi amet massa.
              | Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id
              | dignissim massa ut amet. Amet enim, nisi tempus vehicula.
          img(src='./assets/images/benefits/tab-1.png' alt='').tabs-item__img
        #tab-2.tabs-item
          .tabs-item__content
            h3.tabs-item__title Feedback & Support
            p.content-text.tabs-item__text
              | Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames
              | dictum suspendisse. 
              | Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id
              | dignissim massa ut amet. Amet enim, nisi tempus vehicula.
          img(src='./assets/images/benefits/tab-2.png' alt='').tabs-item__img
        #tab-3.tabs-item
          .tabs-item__content
            h3.tabs-item__title Our Online Library
            p.content-text.tabs-item__text
              | Morbi mauris cras massa ut dolor quis sociis
              | mollis augue. Nunc, sodales tortor sit diam mi amet massa.
              | Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames
              | dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis
              | mollis augue. Nunc, sodales tortor sit diam mi amet massa.
              | Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id
              | dignissim massa ut amet. Amet enim, nisi tempus vehicula.
              | Morbi mauris cras massa ut dolor quis sociis
              | mollis augue. Nunc, sodales tortor sit diam mi amet massa.
          img(src='./assets/images/benefits/tab-3.png' alt='').tabs-item__img
        #tab-4.tabs-item
          .tabs-item__content
            h3.tabs-item__title Our Community
            p.content-text.tabs-item__text
              | Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames
              | dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis
              | mollis augue. Nunc, sodales tortor sit diam mi amet massa.
              | Fermentum diam diam sociis vestibulum.
          img(src='./assets/images/benefits/tab-4.png' alt='').tabs-item__img
