section.benefits
        .wrapper
          h3.h3-like Our benefits
          h2.h2-like That’s how we do it
          .tabs
            a.tabs-item.star(href='') Experienced Tutors
            a.tabs-item.shape(href='') Feedback & Support
            a.tabs-item.layouts(href='') 24/7 Online Library
            a.tabs-item.chat(href='') Community
          .info
            .text
              .text-title Only practicing tutors
              p
                | Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames
                | dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis
                | mollis augue. Nunc, sodales tortor sit diam mi amet massa.
                | Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id
                | dignissim massa ut amet. Amet enim, nisi tempus vehicula.
            img(src='./assets/images/benefits/illustration.png' alt='')