section.blog
        .wrapper
          .blog-header
            .text
              h3.h3-like Our blog
              h2.h2-like Latest posts
            a.btn(href='') Go to blog
          .gallery
            .gallery-item
              .item-img.podcast
                img(src='/src/assets/images/blog/image1.jpg' alt='')
              .time
                .label Marketing
                .date September 4, 2020
                .duration 36 min
              .item-title
                | What is traffic arbitrage and does it really make money?
              p.item-text
                | Pharetra, ullamcorper iaculis viverra parturient sed id sed.
                | Convallis proin dignissim lacus, purus gravida...
              a.btn-link(href='') Listen
            .gallery-item
              .item-img.video
                img(src='/src/assets/images/blog/image2.jpg' alt='')
              .time
                .label Management
                .date August 25, 2020
                .duration 45 min
              .item-title
                | What to do and who to talk to if you want to get feedback on the
                | product
              p.item-text
                | Neque a, senectus consectetur odio in aliquet nec eu. Ultricies
                | ac nibh urna urna sagittis faucibus...
              a.btn-link(href='') Watch
            .gallery-item
              .item-img.article
                img(src='/src/assets/images/blog/image3.jpg' alt='')
              .time
                .label Design
                .date August 8, 2020
              .item-title
                | Should you choose a creative profession if you are attracted to
                | creativity?
              p.item-text
                | Curabitur nisl tincidunt eros venenatis vestibulum ac placerat.
                | Tortor, viverra sed vulputate ultrices...
              a.btn-link(href='') Read