section.certificate
        .wrapper.wrapper-certificate
          .text
            h3.h3-like Createx Certificate
            h2.h2-like Your expertise will be confirmed
            p
              | We are accredited by international professional organizations and
              | institutes:
          .img
            img(src='./assets/images/certificate/del-marlogo.png' alt='')
            img(src='./assets/images/certificate/sentiallogo.png' alt='')
            img(src='./assets/images/certificate/national.png' alt='')