section.certificate
  .wrapper.wrapper-certificate
    .certificate-content
      .content-header
        .tag Createx Certificate
        h2.h2-like.certificate-title Your expertise will be confirmed
      p.content-text.certificate-text
        | We are accredited by international professional organizations and
        | institutes:
      .content-img
        img(src='./assets/images/certificate/del-marlogo.png' alt='')
        img(src='./assets/images/certificate/sentiallogo.png' alt='')
        img(src='./assets/images/certificate/national.png' alt='')