section.courses
  .wrapper
    .section-header.courses-header
      .section-header_content 
        .tag Ready to learn?
        h2.h2-like.courses-title Featured Courses
      a.btn-clear(href='/courses.html') View all courses
    .cards
      .cards-item
        img(src='./assets/images/Courses/img1.jpg' alt='').cards-item-img
        .cards-item_content
          .cards-item_label.marketing Marketing
          h4.cards-item_title The Ultimate Google Ads Training Course
          .cards-item_price
            span $100
            | by Jerome Bell
      .cards-item
        img(src='./assets/images/Courses/img2.jpg' alt='').cards-item-img
        .cards-item_content
          .cards-item_label.managment Management
          h4.cards-item_title Product Management Fundamentals
          .cards-item_price
            span $480
            | by Marvin McKinney
      .cards-item
        img(src='./assets/images/Courses/img3.jpg' alt='').cards-item-img
        .cards-item_content
          .cards-item_label.hrrecruiting HR & Recruting
          h4.cards-item_title HR Management and Analytics
          .cards-item_price
            span $200
            | by Leslie Alexander Li
      .cards-item
        img(src='./assets/images/Courses/img4.jpg' alt='').cards-item-img
        .cards-item_content
          .cards-item_label.marketing Marketing
          h4.cards-item_title Brand Management & PR Communications
          .cards-item_price
            span $530
            | by Kristin Watson
      .cards-item
        img(src='./assets/images/Courses/img5.jpg' alt='').cards-item-img
        .cards-item_content
          .cards-item_label.managment Management
          h4.cards-item_title Business Development Management
          .cards-item_price
            span $400
            | by Dianne Russell
      .cards-item
        img(src='./assets/images/Courses/img6.jpg' alt='').cards-item-img
        .cards-item_content
          .cards-item_label.design Design
          h4.cards-item_title Graphic Design Basic
          .cards-item_price
            span $500
            | by Guy Hawkins