section.courses
        .wrapper
          .courses-header
            .text
              h3.h3-like Ready to learn?
              h2.h2-like Featured Courses
            a.btn-clear(href='') View all courses
          .cards
            .cards-item
              img(src='./assets/images/Courses/img1.jpg' alt='')
              .text
                .label.marketing Marketing
                .title The Ultimate Google Ads Training Course
                .price
                  span $100
                  | by Jerome Bell
            .cards-item
              img(src='./assets/images/Courses/img2.jpg' alt='')
              .text
                .label.managment Management
                .title Product Management Fundamentals
                .price
                  span $480
                  | by Marvin McKinney
            .cards-item
              img(src='./assets/images/Courses/img3.jpg' alt='')
              .text
                .label.hrrecruiting HR & Recruting
                .title HR Management and Analytics
                .price
                  span $200
                  | by Leslie Alexander Li
            .cards-item
              img(src='./assets/images/Courses/img4.jpg' alt='')
              .text
                .label.marketing Marketing
                .title Brand Management & PR Communications
                .price
                  span $530
                  | by Kristin Watson
            .cards-item
              img(src='./assets/images/Courses/img5.jpg' alt='')
              .text
                .label.managment Management
                .title Business Development Management
                .price
                  span $400
                  | by Dianne Russell
            .cards-item
              img(src='./assets/images/Courses/img6.jpg' alt='')
              .text
                .label.design Design
                .title Graphic Design Basic
                .price
                  span $500
                  | by Guy Hawkins