section.directions
  .wrapper.wrapper-directions
    .section-header.directions-header
        .tag our main directions
        h2.h2-like What do we teach
    .directions-content
        .directions-item 
            .directions-item_img 
                img(src="/src/assets/images/Aboutus/card1.jpg", alt="") 
            .cards-item_label.label.marketing Marketing  
            p.directions-item_text 
                |Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.
            a(href="#").directions-item_check Check courses
        .directions-item 
            .directions-item_img 
                img(src="/src/assets/images/Aboutus/card2.jpg", alt="") 
            .cards-item_label.label.managment Management
            p.directions-item_text 
                |Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.
            a(href="#").directions-item_check Check courses
        .directions-item 
            .directions-item_img 
                img(src="/src/assets/images/Aboutus/card3.jpg", alt="") 
            .cards-item_label.label.hrrecruiting HR & Recruting
            p.directions-item_text 
                |Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.
            a(href="#").directions-item_check Check courses
        .directions-item 
            .directions-item_img 
                img(src="/src/assets/images/Aboutus/card4.jpg", alt="") 
            .cards-item_label.label.design Design
            p.directions-item_text 
                |Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.
            a(href="#").directions-item_check Check courses
        .directions-item 
            .directions-item_img 
                img(src="/src/assets/images/Aboutus/card5.jpg", alt="") 
            .cards-item_label.label.development Development
            p.directions-item_text 
                |Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.
            a(href="#").directions-item_check Check courses
        .directions-item.new 
            p.directions-item_newtext New studying program coming soon...