section.events
        .wrapper
          h3.h3-like Our Events
          h2.h2-like Lectures & workshops
          .list
            .list-item
              .day 05
              .date
                .month August
                .time 11:00 – 14:00
              .text
                .text-title
                  | Formation of the organizational structure of the company in
                  | the face of uncertainty.
                .subtitle Onine master-class
              a.btn-clear(href='') View more
            .list-item
              .day 24
              .date
                .month July
                .time 11:00 – 12:30
              .text
                .text-title
                  | Building a customer service department. Best Practices.
                .subtitle Onine lecture
              a.btn-clear(href='') View more
            .list-item
              .day 16
              .date
                .month July
                .time 11:00 – 13:00
              .text
                .text-title
                  | How to apply methods of speculative design in practice.
                  | Worldbuilding prototyping.
                .subtitle Onine workshop
              a.btn-clear(href='') View more
          .explore
            .explore-title Do you want more?
            a.btn(href='') Explore all events