section.events
  .wrapper
    .section-header 
      .tag.events-tag Our Events
      h2.h2-like.events-title Lectures & workshops
    .list
      .list-item
        .list-item__day 05
        .list-item__date
          .list-item__date-month August
          .list-item__date-time 11:00 – 14:00
        .list-item__text
          h4.list-item__text-title
            | Formation of the organizational structure of the company in
            | the face of uncertainty.
          .list-item__text-subtitle Onine master-class
        a.btn-clear.event-btn(href='') View more
      .list-item
        .list-item__day 24
        .list-item__date
          .list-item__date-month July
          .list-item__date-time 11:00 – 12:30
        .list-item_text
          h4.list-item__text-title
            | Building a customer service department. Best Practices.
          .list-item__text-subtitle Onine lecture
        a.btn-clear.event-btn(href='') View more
      .list-item
        .list-item__day 16
        .list-item__date
          .list-item__date-month July
          .list-item__date-time 11:00 – 13:00
        .list-item__text
          h4.list-item__text-title
            | How to apply methods of speculative design in practice.
            | Worldbuilding prototyping.
          .list-item__text-subtitle Onine workshop
        a.btn-clear.event-btn(href='') View more
    .explore
      .explore-title Do you want more?
      a.btn(href='') Explore all events