section.main
  .wrapper.main-wrapper
    .main-content
      .main-content_text
        a.btn-play(href='') Play showreel
        h1.h1-like
          | Enjoy studying with Createx Online Courses
        a.btn-clear.btn-about(href='') About us
        a.btn.btn-explore(href='') Explore courses
      .content-image
        img(src='./assets/images/main/illustration.png' alt='')
    .main-statistics
      ul
        li
          span 1200
          | Students graduated
        li
          span 84
          | Completed courses
        li
          span 16
          | Qualified tutors
        li
          span 5
          | Years of experience