section.statistics
  .wrapper.wrapper-statistics
    a.btn-play(href='#') Watch Video 
    .statistics-content
        .statistics-img
            img(src="/src/assets/images/Aboutus/videocover.jpg", alt="")
        ul.statistic-list
            li.statisticlist__item 
                span 1200
                | students graduated
            li.statisticlist__item 
                span 84
                | completed courses
            li.statisticlist__item 
                span 16
                | qualified tutors
            li.statisticlist__item 
                span 5
                | years of experience