section.subscribe
        .wrapper
          h3.h3-like Don’t miss anything
          h2.h2-like
            | Subscribe to the Createx School 
            br
            |             announcements
          .field
            input.field-subscribe(type='email' placeholder='Your working email')
            a.btn.subs Subscribe