section.testimonials 
    .wrapper.testimonials-wrapper  
        .section-header 
            .tag.subtitle-two TESTIMONIALS
            h2.h2-like.title-two What our students say
        .testimonials-slider.swiper-container 
            .testimonials-slider__wrapper.swiper-wrapper 
                .testimonials-slider__slide.swiper-slide
                    p.testimonials-slider__slide-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Justo, amet lectus quam viverra mus lobortis fermentum amet,
                        | eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus
                        | ornare turpis quis non. Congue tortor in euismod vulputate
                        | etiam eros. Pulvinar neque pharetra arcu diam maecenas diam
                        | integer in.
                    .user-profile
                        img(src='/src/assets/images/tutors/profile-foto.png' alt='')
                        .discrp
                            .name Eleanor Pena
                            .position Position, Course
                .testimonials-slider__slide.swiper-slide
                    p.testimonials-slider__slide-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Justo, amet lectus quam viverra mus lobortis fermentum amet,
                        | eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus
                        | ornare turpis quis non. Pulvinar neque pharetra arcu diam
                        | maecenas diam integer in.
                    .user-profile
                        img(src='/src/assets/images/tutors/profile-foto2.png' alt='')
                        .discrp
                            .name Zane Dustin
                            .position Position, Course
                .testimonials-slider__slide.swiper-slide
                    p.testimonials-slider__slide-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Justo, amet lectus quam viverra mus lobortis fermentum amet,
                        | eu. Vitae id turpis tempus ornare turpis quis non. Congue
                        | tortor in euismod vulputate etiam eros. Pulvinar neque
                        | pharetra arcu diam maecenas diam integer in.
                    .user-profile
                        img(src='/src/assets/images/tutors/profile-foto3.png' alt='')
                        .discrp
                            .name Lee Jacob
                            .position Position, Course
                .testimonials-slider__slide.swiper-slide
                    p.testimonials-slider__slide-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Justo, amet lectus quam viverra mus lobortis fermentum amet,
                        | eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus
                        | ornare turpis quis non. Congue tortor in euismod vulputate
                        | etiam eros.
                    .user-profile
                        img(src='/src/assets/images/tutors/profile-foto4.png' alt='')
                        .discrp
                            .name Abigail Quence
                            .position Position, Course
            .testimonials-btn__prev.swiper-button-prev  
            .testimonials-btn__next.swiper-button-next 
            .testimonials-pagination.swiper-pagination 