section.tutors
  .wrapper.tutors-wrapper
    .section-header
      .tag Best tutors are all here
      h2.h2-like.tutors-title Meet our team
    .tutors-slider.swiper-container 
      .tutors-slider_wrapper.swiper-wrapper 
        .tutors-slider_slide.swiper-slide
          .tutors-slider-image
            img(src='/src/assets/images/tutors/img1.jpg' alt='')
          .slide-title Jerome Bell
          .slide-subtitle Founder and Program Director
        .tutors-slider_slide.swiper-slide
          .tutors-slider-image
            img(src='/src/assets/images/tutors/img2.jpg' alt='')
          .slide-title Marvin McKinney 
          .slide-subtitle
            | PM, Curator of Management Course
        .tutors-slider_slide.swiper-slide
          .tutors-slider-image
            img(src='/src/assets/images/tutors/img3.jpg' alt='')
          .slide-title Leslie Alexander Li
          .slide-subtitle HR Management and Analytics
        .tutors-slider_slide.swiper-slide
          .tutors-slider-image
            img(src='/src/assets/images/tutors/img4.jpg' alt='')
          .slide-title Kristin Watson
          .slide-subtitle Brand Management & PR
        .tutors-slider_slide.swiper-slide
          .tutors-slider-image
            img(src='/src/assets/images/tutors/img5.jpg' alt='')
          .slide-title Dianne Russell
          .slide-subtitle Business Development Management
        .tutors-slider_slide.swiper-slide
          .tutors-slider-image
            img(src='/src/assets/images/tutors/img6.jpg' alt='')
          .slide-title Guy Hawkins
          .slide-subtitle Graphic Design Basic  
    .tutors-btn_prev.swiper-button-prev  
    .tutors-btn_next.swiper-button-next 
    .swiper-pagination    
  
          