section.tutors
        .wrapper
          h3.h3-like Best tutors are all here
          h2.h2-like Meet our team
          .slider-btn
            .slider-prev
            .slider-next
          .slider
            .slider-line
              .slider-item
                img(src='/src/assets/images/tutors/img1.jpg' alt='')
                .item-title Jerome Bell
                .item-subtitle Founder and Program Director
              .slider-item
                img(src='/src/assets/images/tutors/img2.jpg' alt='')
                .item-title Marvin McKinney
                .item-subtitle
                  | PM, Curator of Management Course
              .slider-item
                img(src='/src/assets/images/tutors/img3.jpg' alt='')
                .item-title Leslie Alexander Li
                .item-subtitle HR Management and Analytics
              .slider-item
                img(src='/src/assets/images/tutors/img4.jpg' alt='')
                .item-title Kristin Watson
                .item-subtitle Brand Management & PR
              .slider-item
                img(src='/src/assets/images/tutors/img5.jpg' alt='')
                .item-title Dianne Russell
                .item-subtitle Business Development Management
              .slider-item
                img(src='/src/assets/images/tutors/img6.jpg' alt='')
                .item-title Guy Hawkins
                .item-subtitle Graphic Design Basic
          h3.h3-like.subtitle-two TESTIMONIALS
          h2.h2-like.title-two What our students say
          .slider-two
            .slider-line-two
              .slider-two-item
                p.text
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Justo, amet lectus quam viverra mus lobortis fermentum amet,
                  | eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus
                  | ornare turpis quis non. Congue tortor in euismod vulputate
                  | etiam eros. Pulvinar neque pharetra arcu diam maecenas diam
                  | integer in.
                .user-profile
                  img(src='/src/assets/images/tutors/profile-foto.png' alt='')
                  .discrp
                    .name Eleanor Pena
                    .position Position, Course
              .slider-two-item
                p.text
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Justo, amet lectus quam viverra mus lobortis fermentum amet,
                  | eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus
                  | ornare turpis quis non. Pulvinar neque pharetra arcu diam
                  | maecenas diam integer in.
                .user-profile
                  img(src='/src/assets/images/tutors/profile-foto2.png' alt='')
                  .discrp
                    .name Zane Dustin
                    .position Position, Course
              .slider-two-item
                p.text
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Justo, amet lectus quam viverra mus lobortis fermentum amet,
                  | eu. Vitae id turpis tempus ornare turpis quis non. Congue
                  | tortor in euismod vulputate etiam eros. Pulvinar neque
                  | pharetra arcu diam maecenas diam integer in.
                .user-profile
                  img(src='/src/assets/images/tutors/profile-foto3.png' alt='')
                  .discrp
                    .name Lee Jacob
                    .position Position, Course
              .slider-two-item
                p.text
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Justo, amet lectus quam viverra mus lobortis fermentum amet,
                  | eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus
                  | ornare turpis quis non. Congue tortor in euismod vulputate
                  | etiam eros.
                .user-profile
                  img(src='/src/assets/images/tutors/profile-foto4.png' alt='')
                  .discrp
                    .name Abigail Quence
                    .position Position, Course
            .slider-btn-two
              .slider-prev-two Prev
              .slider-next-two Next