section.tutors
        .wrapper.tutors-wrapper
          .section-header
            .tag Best tutors are all here
            h2.h2-like.tutors-title Meet our team
          .slider
            .slider-btn
              .slider-prev
              .slider-next
            .slider-line
              .slider-item
                img(src='/src/assets/images/tutors/img1.jpg' alt='')
                .item-title Jerome Bell
                .item-subtitle Founder and Program Director
              .slider-item
                img(src='/src/assets/images/tutors/img2.jpg' alt='')
                .item-title Marvin McKinney
                .item-subtitle
                  | PM, Curator of Management Course
              .slider-item
                img(src='/src/assets/images/tutors/img3.jpg' alt='')
                .item-title Leslie Alexander Li
                .item-subtitle HR Management and Analytics
              .slider-item
                img(src='/src/assets/images/tutors/img4.jpg' alt='')
                .item-title Kristin Watson
                .item-subtitle Brand Management & PR
              .slider-item
                img(src='/src/assets/images/tutors/img5.jpg' alt='')
                .item-title Dianne Russell
                .item-subtitle Business Development Management
              .slider-item
                img(src='/src/assets/images/tutors/img6.jpg' alt='')
                .item-title Guy Hawkins
                .item-subtitle Graphic Design Basic
          