section.values
  .wrapper.wrapper-values 
    .section-header.values-header
        .tag We always stand for
        h2.h2-like Our core values
    .values-content 
        .values-item 
            img(src="/src/assets/images/Aboutus/approach.png", alt="")
            .values-item_title Structured Approach
            p.values-item_text Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris. 
        .values-item 
            img(src="/src/assets/images/Aboutus/feedbacks.png", alt="")
            .values-item_title Professional Feedbacks
            p.values-item_text Culpa nostrud commodo ea consequat reprehenderit aliquip. 
        .values-item 
            img(src="/src/assets/images/Aboutus/Efficiency.png", alt="")
            .values-item_title Efficiency
            p.values-item_text Viverra scelerisque consequat net. Adipisicing esse consequat. 
        .values-item 
            img(src="/src/assets/images/Aboutus/shedule.png", alt="")
            .values-item_title Flexible Shedule
            p.values-item_text Aute eiusmod dolore dolore deserunt veniam ad deserunt. 